.logo {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-image: url("../src/brand.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-image img {
  width: 100%;
  height: 350px;
}

.round-span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  position: absolute;
  top: 75%;
  right: 75%;
  border: 2px solid green;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.card a {
  text-decoration: none;
}

.col-5-per-row {
  flex: 0 0 20%;
  max-width: 20%;
}

.cc{
  width: 50%;
}

@media (max-width: 1098px) {
  .col-5-per-row {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 768px) {
  .col-5-per-row {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .col-5-per-row {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0;
  }
  .movie-details {
    flex-direction: column;
    margin: 0;
  }

  .movie-details .cc{
    width: 100%;
  }
}
